# Ignore docs folder
docs/
requirement.txt/
rough.py/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
# venv/
# .env/

# Streamlit cache
.streamlit/

# Local vector store (if using Chroma locally)
# vector_store/

# OS files
.DS_Store
Thumbs.db
